<div class="page_title">Konfiguracja</div>
<div id="maillist" style="text-align: left; color: #616161; padding: 20px; font-size: 14px;">
    <div>Za pomocą tego ustawienia możesz zdefiniować, co ile odświeżana będzie lista wiadomości w folderze <b>Odebrane</b>.<br />Podaj wartość między 1 a 999.</div>
    <div style="padding: 40px; font-size: 24px;">
        <div style="margin-left: 150px;">
        <div style="float: left;">Odświeżaj listę co</div>
        <div style="float: left;">
            <input type="number" min="1" max="999" name="config_textbox" style="width: 50px; margin-bottom: 20px;" ng-model="config.seconds">
        </div>
        <div style="float: left;">minut.</div>
        </div>
            <br />
            <br />
        <div style="margin: auto; margin-top: 10px; position: relative; width: 100px;">
            <div class="button raised" ng-click="setSeconds(config.seconds);"><paper-ripple></paper-ripple>Zapisz i wyjdź</div>
        </div>
        <br />
            <br />
        <div class="errorDiv" ng-show="errorDiv">Upewnij się, ze wprowadziłeś prawidłową wartość.</div>
    </div>
</div>