<div class="page_title">Wiadomości odebrane</div>
<div id="maillist" ng-repeat="item in emails | reverse" ng-init="getEmails">
    <div class="maillist_item" style="position: relative" ng-hide="showme">
        <paper-ripple fit></paper-ripple>
        <a href="#/view/{{item.id}}">
        <div class="maillist_item_content">
            <div class="maillist_item_date">{{ item.sender }}</div>
            <span class="maillist_item_flag" ng-hide="{{item.read}}">NOWY</span>
            <span class="maillist_item_title">{{ item.title | cut:true:60 }}</span>
            <span class="maillist_item_text">{{ item.content | cut:true:15 }}</span>
        </div>
        </a>
        <div ng-click="delete_mail(item.id, '/emails/'); showme=true" class="maillist_button">X</div>
        <div class="maillist_button">-></div>
    </div>  
</div>