<div class="page_title">Nowa wiadomość</div>
<div id="maillist">
    <div style="position: relative">
        <div class="email_detail_main">
            <div>Tytuł</div>
            <div><input type="text" name="title_textbox" style="width: 750px; margin-bottom: 20px;" ng-model="mail.title"></div>
            <div>Email odbiorcy</div>
            <div><input type="text" name="receivers_textbox" style="width: 750px; margin-bottom: 20px;" ng-model="mail.receivers[0]"></div>
            <div>Treść</div>
            <div><textarea name="content_textbox" style="width: 750px; height: 400px" ng-model="mail.content"></textarea></div>
            <div style="margin-top: 10px; position: relative; width: 100px; height: 100px;">
                <div class="button raised white" ui-sref="sent" ng-click="new_mail()"><paper-ripple></paper-ripple>Wyślij</div>
            </div>
        </div>
    </div>  
</div>